<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.qingxin.mapper.ParentOrderMapper">
    <select id="getParOrderByPhone" resultType="com.it.qingxin.bean.ParentOrder">
        select book_name,count,price,state from par_order
        where par_phone = #{phone}
    </select>
</mapper>