<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.qingxin.mapper.RegisterMapper">
    <insert id="InsertParent">
        insert into
        parent (phone_num,paswd)
        values (#{phoneNum},#{paswd})
    </insert>
    <!--根据电话号码查询是否存在用户-->
    <select id="getUserByPhone" resultType="com.it.qingxin.bean.Parent">
        select * from parent where phone_num = #{phone}
    </select>
</mapper>